# Python
__pycache__/
*.py[cod]

# Environment variables / secrets
.env
.env.*
!.env.example

# Database
*.db
*.sqlite
*.sqlite3

# Virtual environment
venv/
.venv/
env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db